@font-face {
    font-family: "SFProText-Regular";
    src: url('./SFProText-Regular.ttf'), format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SFProText-Light';
    src: url('./SFProText-Light.ttf'), format('ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SFProText-Medium';
    src: url('./SFProText-Medium.ttf'), format('ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SFProText-Semibold';
    src: url('./SFProText-Semibold.ttf'), format('ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SFProText-Bold';
    src: url('./SFProText-Bold.ttf'), format('ttf');
    font-weight: 700;
    font-style: normal;
}

:root {
    --nav-background-color: #F8FAFB;
    --content-background-color: #e2e8f0;
    --task-border-color: #cbd5e1;
}

.container {
    font-family: 'SFProText-Regular';
    font-weight: 400;
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: 1fr;
}


.container--navside {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5rem;
    grid-column: 1;
    grid-row: 2;
    background-color: var(--nav-background-color);
    height: 100vh;
}

.container--navside--projects-title {
    color: #202020;
}

.container--navside--project-button {
    border: 0;
    background-color: var(--nav-background-color);
    transition-duration: 0.2s;
}

.container--navside--project-button:hover {
    border: 0;
    background-color: #ebebeb;
    transition-duration: 0.2s;
}

.container--navside--project-button:active {
    background-color: #6e6e6e;
    transition-duration: 0.2s;
}

.container--content {
    grid-column: 2;
    grid-row: 2;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding-right: 20px;
    padding-left: 20px;
    background: var(--content-background-color);
}

.container--content--task--title {
    font-family: 'SFProText-Bold';
    font-weight: 700;
    font-size: 1.3rem;
    grid-row: 1;
}

.container--content--task--description, .container--content--task--date {
    font-family: 'SFProText-Light';
    font-weight: 300px;
    font-size: 1.2rem;
}

.container--content--task--description {
    grid-row: 2;
}

.container--content--task--date {
    font-size: 1rem;
    grid-row: 3;
}

.container--content--task {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: solid var(--task-border-color);
    border-radius: 1rem;
    margin: 5px;
}

.container--content--task--checkbox {
    grid-row: 3;
    height: 2rem;
    width: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}